<tr row-id="{{ meal.id }}" class="table-wrapper data-table">
    <td class="p-0" colspan="7">
        <table class="meal table table-bordered" url="mealfoods">
            <thead>
            <th scope="col">Ateria {{ meal.order_num }}</th>
            <th scope="col">
                <button add-url="/mealfoods/new?meal_id={{ meal.id }}" type="button" class="btn btn-info add-row">
                    +&nbsp;&nbsp;Lisää ruoka
                </button>
            </th>
            <th class="meal-energy" scope="col">{{ meal.energy }}</th>
            <th class="meal-protein" scope="col">{{ meal.protein }}</th>
            <th class="meal-carb" scope="col">{{ meal.carb }}</th>
            <th class="meal-fat" scope="col">{{ meal.fat }}</th>
            <th>
                <button type="button" class="btn btn-danger add-row delete-meal">
                    Poista ateria
                </button>
            </th>
            </thead>
            <tbody>
            {% for row in meal.mealfoods %}
                {% include "components/row.html" %}
            {% endfor %}
            </tbody>
        </table>
    </td>
</tr>