{% if not rows %}<table>{% endif %}

<tr row-id="{{ row_dict['id'] }}">
    {% for key, value in row_dict.items() if not 'id' in key %}
        <td>{{ value }}</td>
    {% endfor %}
    {% if row_dict['account_id'] %}
        <td>
            <a class="edit" title="Muokkaa"><i class="material-icons">&#xE254;</i></a>
            <a class="delete" title="Poista"><i class="material-icons">&#xE872;</i></a>
        </td>

    {% else %}
        <td></td>
    {% endif %}
</tr>

{% if not rows %}</table>{% endif %}