{% extends "layout.html" %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-5">
            <h1 class="h2 pb-3">Kirjautuminen</h1>
            <form method="POST" action="{{ url_for('auth_login') }}">
                {% for field in form %}
                    <div class="form-group">
                        <label for="username">{{ field.label }}</label>
                        <div class="input-group pl-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">{{ field.description[:1] }}</div>
                            </div>
                            {{ field(class_="form-control") }}
                        </div>
                    </div>
                {% endfor %}
                <ul>
                    {% for field, errors in form.errors.items() %}
                        <li class="error">{{ form[field].label }}: {{ ', '.join(errors) }}</li>
                    {% endfor %}
                </ul>
                {% if error %}
                    <div class="error">{{ error }}</div>
                {% endif %}
                <div class="form-row mt-5">
                    <input class="btn btn-info" type="submit" value="Kirjaudu"/>
                    <a class="btn btn-info ml-3" href="{{ url_for('auth_register') }}">Luo tunnus</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}