{% extends "layout.html" %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-5">
            <h1 class="h2 pb-3">Uusi käyttäjä</h1>
            <form method="POST" action="{{ url_for('auth_register') }}">
                {% for field in form %}
                    <div class="form-group">
                        <label class="m-0" for="username">{{ field.label }}</label>
                        <div class="input-group pl-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">{{ field.description[:1] }}</div>
                            </div>
                            {{ field(class_="form-control") }}
                        </div>
                        <small class="form-text text-muted pl-2">{{ field.description[3:] }}</small>
                    </div>
                {% endfor %}
                <ul>
                    {% for field, errors in form.errors.items() %}
                        <li class="error">{{ form[field].label }}: {{ ', '.join(errors) }}</li>
                    {% endfor %}
                </ul>
                <div class="form-row mt-5">
                    <input class="btn btn-info" type="submit" value="Luo tunnus"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}