{% extends "layout.html" %}

{% block body %}
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Otsikko</h2></div>
                <div class="col-sm-4">
                    <button id="add-meal" type="button" class="btn btn-info add-row"><i class="fa fa-plus"></i> Uusi ateria</button>
                </div>
            </div>
        </div>
        <table id="diet" class="table table-bordered" url="{{ url }}">
            <thead>
            <tr>
                <th scope="col" colspan="2">Ateriat</th>
                <th scope="col">Energia</th>
                <th scope="col">Proteiini</th>
                <th scope="col">Hiilari</th>
                <th scope="col">Rasva</th>
                <th scope="col">Toiminnot</th>
            </tr>
            </thead>
            <tbody>
            {% for meal in meals %}
                {% include "meals/meal-row.html" %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
