{% if form.errors %}
    <tr id="error-row">
        {% for field in form %}
            {% if field.name in form.errors %}
                <td class="error">{{ ', '.join(form.errors[field.name]) }}</td>
            {% elif field.type == 'IdField' %}
            {% else %}
                <td></td>
            {% endif %}
        {% endfor %}
    </tr>
{% else %}
<tr id="input-row" row-id="{{ form.id.data if form.id.data }}">
    {% for field in form %}
        {% if field.type == 'IdField' %}
            <td class="d-none">{{ field }}</td>
        {% else %}
            <td>{{ field(class='form-control') }}</td>
        {% endif %}
    {% endfor %}
    <td>
        <a class="add" title="Tallenna"><i class="material-icons">&#xE03B;</i></a>
        <a class="delete" title="Poista"><i class="material-icons">&#xE872;</i></a>
    </td>
</tr>
{% endif %}