<tr row-id="{{ row.id if row.id }}">
    {% for field in form %}
        {% if field.type == 'IdField' %}
            <td class="d-none">{{ field(value=row[field.name]) }}</td>
        {% elif field.type == 'DateTimeField' %}
            <td>{{ row[field.name].strftime('%d.%m.%Y %H:%M') }}</td>
        {% elif anchors and field.name == 'name' %}
            <td><a href="{{ row.id|string }}">{{ row[field.name] }}</a></td>
        {% else %}
            <td>{{ row[field.name] }}</td>
        {% endif %}
    {% endfor %}
    {% if row.account_id %}
        <td>
            <a class="edit" title="Muokkaa"><i class="material-icons">&#xE254;</i></a>
            <a class="delete" title="Poista"><i class="material-icons">&#xE872;</i></a>
        </td>
    {% else %}
        <td></td>
    {% endif %}
</tr>